<div class="row">

  <div class="col text-center">
    <h1>Ahorcados para Informaticos</h1>
    <img src="assets/img/{{ intentos }}.png" alt="" class="ahorcado-img">
    <h3>Intentos <small> {{intentos}} / 9</small></h3>    
  </div>  

</div>

<div class="row">

  <div class="col text-center">

    <h1> {{ palabraOculta }} </h1>

  </div>  

</div>

<div class="row" *ngIf="gano">

  <div class="col text-center">

    <h1> FELICIDADES GANASTE!!! </h1>
    <h4>.l.</h4>

  </div>  

</div>

<div class="row" *ngIf="perdio">

  <div class="col text-center">

    <h1> Haz Perdido... </h1>
    <h4> La palabra era {{ palabra }} </h4>

  </div>  

</div>

<div class="row" *ngIf="!gano && !perdio">

  <div class="col text-center">

    <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary">
      {{ letra }}
    </button>
    
  </div>  

</div>
<br>

<div class="text-center center-block">
  <p class="txt-railway">	&copy;Creado por: Armando Francisco</p>
  <br />
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100007034808735"><i class="fa fa-facebook-square fa-3x social"></i></a>
    <a target="_blank" href="https://twitter.com/armando_fm17"><i class="fa fa-twitter-square fa-3x social"></i></a>
    <a target="_blank" href="https://www.instagram.com/armandofrancisco1/"><i class="fa fa-instagram fa-3x social"></i></a>
    <a target="_blank" href="mailto:usuarioparaclases17@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
</div>